
<form action="/tedarikci" method="post" id="form">
    <div class="form-group">
        <label for="ad">Tedarikci Adı</label>
        <input type="text" class="form-control" id="ad" name="ad" placeholder="Tedarikci Adı">
    </div>
    <div class="form-group">
        <label for="tel">Tedarikci Telefon</label>
        <input type="text" class="form-control" id="tel" name="tel" placeholder="Tedarikci Telefon">
    </div>

    <div class="form-group">
        <label for="mail">Tedarikci Mail</label>
        <input type="text" class="form-control" id="mail" name="mail" placeholder="Tedarikci Mail">
    </div>


</form>